header {
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  height: 80px;
  display: flex;
  justify-content: space-around;
  /* Alinea el logo y el menú */
  align-items: center;
  border-bottom: solid 3px #0712ad;
}

.logo img {
  height: 50px;
  /* Altura fija para el logo */
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: #333;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.menu a:hover {
  background-color: #0712ad;
  color: #fff;
}

.menu-icon {
  display: none;
  /* Ocultar por defecto en pantallas grandes */
  cursor: pointer;
}


.highlight {
  color: #4a86e8;
}

.hero {
  background-image: url(imagenesdefondo/P1170245.JPG);
  background-size:cover;
  position: relative; 
  overflow: hidden;
  padding: 400px 20px;
  margin: 20px;
  margin-top: 200px;
}
.hero::before {
  content: ''; /* Necesario para que el pseudo-elemento se muestre */
  position: absolute; /* Posiciona el pseudo-elemento en relación al contenedor */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7); /* Color negro con transparencia, ajusta la opacidad según necesites */
  z-index: 1; /* Asegura que el velo esté sobre la imagen de fondo pero detrás del contenido */
}
.hero > * {
  position: relative;
  z-index: 2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.hero-logo {
  margin-bottom: 20px;
}

.hero-logo img {
  display: block;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  transition: transform 0.3s;
}

.hero-logo img:hover {
  transform: scale(1.1);
}

.hero-description {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  color: #333;
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.hero-description h1 {
  font-family: 'Montserrat', sans-serif; /* Fuente robusta y moderna */
  font-size: 4.5rem;
  margin-bottom: 20px;
  color: #000a9c;
  text-transform: uppercase; /* Añade un toque de profesionalismo */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2); /* Sombra sutil para mejorar la legibilidad */
}

.hero-description h2 {
  font-family: 'Open Sans', sans-serif; /* Fuente limpia y legible */
  font-size: 2.8rem;
  color: #fc0d0d;
  margin-bottom: 30px;
  font-weight: 400; /* Un poco más ligero para diferenciar del h1 */
  text-shadow: 1px 1px 3px rgba(0,0,0,0.1); /* Sombra sutil para mejorar la legibilidad */
}

.btn-cta {
  background-color: #007bff;
  color: white;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.btn-cta:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .hero {
    margin-top: 300px;
    background-position: center;
  }

  .hero-logo img {
    max-width: 150px;
  }

  .hero-description {
    font-size: 1.2rem;
  }

  .hero-description h1 {
    font-size: 2rem;
  }

  .hero-description h2 {
    font-size: 1.5rem;
  }
}


.btn-cta {
  display: inline-block;
  font-size: 18px;
  color: #fff;
  background-color: #253353;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.btn-cta:hover {
  background-color: #0712ad;
}

.desarollo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-top: 40px;
  font-size: larger;
  text-align: center;
  box-shadow: 2px 4px 10px #0712ad;
}

.desarollo2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  margin-top: 40px;
  font-size: larger;
  text-align: center;
  box-shadow: 2px 4px 8px #0712ad;
}

.text-section {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.text-section h2 {
  color: #0712ad;
  font-size: 2.2em;
  transition: color 0.3s;
  margin-bottom: 15px;
}

.text-section p {
  color: #333333;
  line-height: 1.6;
  font-size: x-large;
}


.text-section .highlight {
  text-align: center;
  background-color: #0712ad;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  margin: 10px auto;
  width: fit-content;
}

.image-section {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.image-section img {
  max-width: 80%;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 6px 6px #918686a1;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out, box-shadow 0.3s; /* Transiciones suaves */
}

.image-section img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.desarollo {
  transform: translateX(-100%); /* Fuera de la pantalla a la izquierda */
  transition: transform 2s; /* Transición suave */
}

.desarollo2 {
  transform: translateX(100%); /* Fuera de la pantalla a la derecha */
  transition: transform 2s; /* Transición suave */
}

.en-pantalla {
  transform: translateX(0); /* Regresa a la posición original */
  transition: transform 2s; /* Transición suave */
}


@media (min-width: 768px) {

  .text-section,
  .image-section {
    width: 48%;
  }
}

.why-choose-us {
  text-align: center;
  padding: 100px;
  background: #f8f8f8;
}

.why-choose-us h2 {
  margin-bottom: 15px;
  font-size: 4.5rem;
  color: #0712ad;
}

.why-choose-us p {
  margin-bottom: 30px;
  color: #555;
  font-size: 2rem;
}

.card-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
}

.card {
  background: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 100px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

.card-icon img {
  max-width: 100px;
}

.card h3 {
  color: #333;
  font-size: 2rem;
  margin-bottom: 15px;
}

.card p {
  color: #666;
  font-size: 1.5rem;
  line-height: 1.5;
}


@media (max-width: 768px) {
  .why-choose-us {
    text-align: center;
    padding: 50px 20px;
    background: #f8f8f8;
  }

  .why-choose-us h2 {
    margin-bottom: 15px;
    font-size: 2.5rem;
    color: #0712ad;
  }

  .why-choose-us p {
    margin-bottom: 20px;
    color: #555;
    font-size: 1.2rem;
  }

  .card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  .card {
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    margin: 10px 0;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card-icon img {
    max-width: 60px;
  }

  .card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .card p {
    font-size: 1rem;
    line-height: 1.4;
  }
}

.servicios-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
  gap: 20px;
}

.servicio {
  width: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.5s ease;
  background: #fff;
}

.servicio img {
  width: 100%;

  object-fit: cover;
}

.servicio-info {
  padding: 15px;
}

.servicio h3 {
  font-size: xx-large;
  margin-bottom: 10px;
  color: #0a58ca;
}

.servicio p {
  font-size: x-large;
  color: #666;
}

.servicio:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
  .servicios-container {
    justify-content: space-around;
  }

  .servicio {
    width: 100%;
    max-width: 400px;
  }
}

footer {
  background-color: #333;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  margin-top: 100px;
  margin: 20px;
}

.contacto,
.legales,
.seo-keywords {
  flex-basis: 30%;
  /* Ajuste para incluir el nuevo contenedor */
  margin-bottom: 20px;
}

.contacto h3,
.legales h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.contacto p,
.legales p,
.seo-keywords p {
  font-size: 1.1em;
  margin: 0;
}

.legales a,
.seo-keywords a {
  color: #fff;
  text-decoration: none;
}

.legales a:hover,
.seo-keywords a:hover {
  text-decoration: underline;
}

.seo-keywords p {
  color: #ddd;
  /* Color más claro para diferenciar las palabras clave */
  font-style: italic;
  /* Estilo para destacar */
}

/* Estilos responsivos para dispositivos más pequeños */
@media (max-width: 768px) {

  .contacto,
  .legales,
  .seo-keywords {
    flex-basis: 100%;
    /* Ajuste para que cada sección ocupe todo el ancho en móviles */
  }
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
  margin-bottom: 40px;
}

.services-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  /* Asegura una distribución uniforme de las columnas */
  width: 100%;
  flex-wrap: wrap;
  /* Permite que las columnas se apilen en pantallas más pequeñas */
}

.service-column {
  display: flex;
  flex-direction: column;
  width: calc(33.33% - 20px);
  /* Ancho de cada columna */
  gap: 20px;
  /* Espacio entre tarjetas de servicio */
}

.service {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #fff;
  /* Fondo para las tarjetas */
  border-radius: 10px;
  /* Bordes redondeados */
}

.service:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.service img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 10px;
}

.service h1 {
  font-size: 1.8rem;
  color: #0712ad;
  margin-bottom: 10px;
}

.service p {
  font-size: 1.5rem;
  color: #333;
}

@media (max-width: 768px) {
  .services {
    margin-top: 300px;
  }

  .services-container {
    flex-direction: column;
  }

  .service-column {
    width: 100%;
    /* Cada columna ocupa todo el ancho en dispositivos móviles */
  }
}
#custom-design {
  color: #333;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

.custom-container {
  background: linear-gradient(135deg, #e4e4e4 0%, #f5f5f5 100%);
  max-width: 80%;
  margin: auto;
  padding: 20px;
  
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.custom-container strong{
  color: #0712ad;
  
}

.custom-container h2 {
  color: #2a2a2a;
  font-size: 2em;
  margin-bottom: 0.5em;
}

.custom-container p {
  font-size: 1.3em;
  line-height: 1.6;
  margin-bottom: 1.5em;
}

.custom-container h3 {
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  color: #333;
}

.custom-container ul {
  list-style: none;
  padding: 0;
}

.custom-container li {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  font-size: 1.2em;
}

.custom-container li img {
  width: 80px;
  margin-right: 15px;
  transition: transform 0.3s ease;
}

.custom-container li img:hover {
  transform: scale(1.1);
}

.custom-container a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.custom-container a:hover {
  color: #0056b3;
}

@media (max-width: 768px) {
  .custom-container {
      padding: 10px;
  }

  .custom-container h2 {
      font-size: 1.5em;
  }

  .custom-container h3 {
      font-size: 1.2em;
  }

  .custom-container li img {
      width: 40px;
  }
}


.worked-for {
  text-align: center;
  padding: 40px 20px;
  background-color: #f8f8f8;
  margin-top: 100px;
}

.worked-for h2 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #333;
  font-weight: 300;
}

.worked-for-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.worked-for-logos .mosaic {
  border: 1px solid transparent;
  padding: 15px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.worked-for-logos .mosaic:hover {
  border-color: #007bff;
  transform: translateY(-5px);
}

.worked-for-logos .mosaic img {
  max-width: 100%;
  max-height: 80px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.worked-for-logos .mosaic:hover img {
  transform: scale(1.1);
}

.worked-for-logos .mosaic::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  transition: all 0.4s ease;
}

.worked-for-logos .mosaic:hover::before {
  left: 100%;
}

/* Responsive */
@media (max-width: 768px) {
  .worked-for-logos {
      grid-template-columns: repeat(2, 1fr); /* En pantallas más pequeñas, reduce a 2 columnas */
  }
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.Entradas {
  background-color: #f5f5f5;
  text-align: center;
  text-transform: capitalize;
  padding: 20px;
  font-family: 'Open Sans', sans-serif; /* Fuente limpia y moderna */
  color: #333; /* Color oscuro para mejorar la legibilidad */
  font-size: 2.2rem; 
  font-weight: 600; 
  border-bottom: 3px solid #ddd; 
  margin-bottom: 1rem; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  display: inline-block; 
  margin-top: 20px; 
}

/* Ajustes opcionales para mejorar la respuesta en dispositivos móviles */
@media screen and (max-width: 768px) {
  .Entradas h2 {
    font-size: 1.8rem; /* Tamaño más pequeño para pantallas estrechas */
    padding: 15px 10px; /* Padding ajustado para pantallas pequeñas */
  }
}

.blog-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: #eeeeee;
  padding: 20px;
  position: relative;
}

.work-in-progress-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); /* Color de fondo blanco con transparencia */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10; /* Asegura que el overlay esté por encima del resto */
}

.work-in-progress-overlay img {
  max-width: 1200px; /* O el tamaño que prefieras para la imagen */
}

.work-in-progress-overlay p {
  color: #333; /* O el color que prefieras para el texto */
  font-size: 5em;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .work-in-progress-overlay img {
      max-width: 90%; /* Un poco más pequeño para asegurar que se vea bien en pantallas pequeñas */
  }

  .work-in-progress-overlay p {
      font-size: 1em; /* Tamaño de fuente más pequeño para pantallas pequeñas */
      padding: 0 20px; /* Añadir un poco de padding para no pegar el texto a los bordes */
  }
}

.blog-entry {
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  background-color: #f5f5f5;
  position: relative;
  width: 800px;
  height: 700px;
  margin: 0 auto;
  margin-top: 40px;
  transition: transform 0.3s ease; /* Transición para efecto al pasar el ratón */
}

.blog-entry:hover {
  transform: scale(1.03); /* Ligeramente más grande al pasar el ratón */
}

.blog-entry img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8); /* Brillo reducido inicialmente */
  transition: filter 0.3s ease; /* Transición suave del brillo */
}

.blog-entry:hover img {
  filter: brightness(1); /* Aumento de brillo al pasar el ratón */
}

.entry-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  text-align: center;
  padding: 20px 0;
  border-radius: 0 0 10px 10px;
}

.entry-info h2 {
  margin: 0;
  font-size: 2em;
}


@media (max-width: 768px) {
  .blog-section {
    grid-template-columns: 1fr; /* Una sola columna */
  }

  .blog-entry {
    width: 95%; /* Ajuste de ancho para móviles */
    height: 0; /* Altura a 0 */
    padding-top: 95%; /* Proporción cuadrada en móviles */
    position: relative; /* Posición relativa para el posicionamiento absoluto de los hijos */
  }

  .blog-entry img {
    position: absolute; /* Posición absoluta para colocar la imagen correctamente */
    top: 0;
    left: 0;
    width: 100%; /* Ancho completo de la tarjeta */
    height: 100%; /* Altura completa de la tarjeta */
    object-fit: cover; /* La imagen cubre todo el espacio, manteniendo su aspecto */
  }

  .entry-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 20px 0;
    border-radius: 0 0 10px 10px;
  }
}


main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

main h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #333;
  font-family: 'Times New Roman', Times, serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.3s ease-in-out;
}

main h1:hover {
  color: #666;
}

.info {
  flex-basis: 40%;
  text-align: left;
}

.info p {
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 1.5;
  color: #333;
}

.info strong {
  font-weight: bold;
  color: #555;
}

.mapa {
  flex-basis: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.mapa iframe {
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
@media (max-width: 768px) {
  .info, .mapa {
    flex-basis: 100%; /* Hace que cada sección ocupe todo el ancho en móviles */
    margin-top: 20px;
    text-align: center; /* Centra el texto en dispositivos móviles */
  }

  .info p {
    font-size: 18px; /* Reduce el tamaño de la fuente para mejorar la legibilidad en móviles */
    margin-bottom: 15px; /* Ajusta el espaciado */
  }

  .mapa {
    margin-top: 20px; /* Ajusta el margen superior */
  }

  .mapa iframe {
    width: 90%; /* Ajusta el ancho del iframe a un porcentaje del contenedor para que sea más adaptable */
    height: auto; /* Mantiene la proporción */
    max-width: 600px; /* Opcional: limita el tamaño máximo del iframe para que no sea demasiado grande en dispositivos más anchos */
  }
}
.mapa a {
  cursor: pointer;
}

.btn-mapa {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #253353;
  color: white;
  font-size: 18px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin-top: 20px;
  text-align: center;
  width: 1000px;
}

.btn-mapa:hover {
  background-color: #0712ad;
}

#cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(52, 58, 64, 0.9);
  color: #fff;
  z-index: 1000;
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.cookie-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 16px;
}

.cookie-content p {
  margin: 0;
  font-size: 22px;
  line-height: 1.5;
}

.cookie-content a {
  color: #fff;
  text-decoration: underline;
}

#cookie-accept {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 4px;
  margin-left: 16px;
  cursor: pointer;
}

#cookie-accept:hover {
  background-color: #0069d9;
}

@media (max-width: 768px) {


  .menu {
    margin-top: 20px;
    flex-direction: column;
    background-color: #f9f9f9;
    padding: 20px;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .menu a {
    font-size: 16px;
    /* Ajustar el tamaño de fuente para mejorar la legibilidad */
  }

  .menu li {
    margin-bottom: 10px;
    /* Espacio entre elementos del menú */
  }

  .menu-icon {
    display: block;
    /* Mostrar el ícono del menú en dispositivos móviles */
  }
}

.worked-for h2 {
  font-size: 36px;
}

.worked-for-logos img {
  width: 100%;
}

.worked-for-logos {
  grid-template-columns: repeat(1, 1fr);
}


.reseñas h2 {
  font-size: 24px;
}

.reseñas p {
  font-size: 16px;
}

.reseñas .col-md-6 {
  flex: 0 0 100%;
  margin: 10px 0;
}